/*------------------------------common------------------------------*/
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
}

ol,
ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.commonWrapper {
    width: 100%;
    height: 100%;
}

.action {
    cursor: pointer;
}

.clearfix {
    clear: both;
}

.hidden {
    display: none;
}

.width100 {
    width: 100px;
}

.slider {
    position: absolute;
    bottom: 0;
    color: #B6CADB;
    padding: 5px;
    z-index: 1001;
}

.statusBarDescription {
    position: absolute;
    left: 250px;
    top: 32px;
    width: 280px;
    background-color: #242C39;
    color: #B6CADB;
    padding: 10px;
    border-radius: 2px;
    z-index: 1001;
}

.statusBarDescription p {
    padding: 0;
    margin: 0;
}

.statusBarDescription div {
    text-align: right;
}

.statusBarDescription::before {
    content: " ";
    position: absolute;
    top: -20px;
    left: 10%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #242C39 transparent;
}

/*-----------------------------/common------------------------------*/

/*------------------------------loader------------------------------*/
.loader {
    width: 100%;
    heigth: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

html, body {
    height: 100%;
}

#cube-loader {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
}
#cube-loader .caption {
    margin: 0 auto;
}
#cube-loader .cube-loader {
    width: 73px;
    height: 73px;
    margin: 0 auto;
    margin-top: 49px;
    position: relative;
    transform: rotateZ(45deg);
}
#cube-loader .cube-loader .cube {
    position: relative;
    transform: rotateZ(45deg);
    width: 50%;
    height: 50%;
    float: left;
    transform: scale(1.1);
}
#cube-loader .cube-loader .cube:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #34495e;
    animation: cube-loader 2.76s infinite linear both;
    transform-origin: 100% 100%;
}
#cube-loader .cube-loader .loader-2 {
    transform: scale(1.1) rotateZ(90deg);
}
#cube-loader .cube-loader .loader-3 {
    transform: scale(1.1) rotateZ(180deg);
}
#cube-loader .cube-loader .loader-4 {
    transform: scale(1.1) rotateZ(270deg);
}
#cube-loader .cube-loader .loader-2:before {
    animation-delay: 0.35s;
}
#cube-loader .cube-loader .loader-3:before {
    animation-delay: 0.69s;
}
#cube-loader .cube-loader .loader-4:before {
    animation-delay: 1.04s;
}

@keyframes cube-loader {
    0%, 10% {
        transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

/*-----------------------------/loader------------------------------*/

/*------------------------------header------------------------------*/
header {
    background-color: #4A4842;
    height: 20px;
    top: 0;
    box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.75);
    width: 100%;
}

.header__inner {
    padding: 2px 10px;
    height: 100%;
}

.header__inner__status {
    color: #fff;
    color: #DFDBD2;
}
/*-----------------------------/header------------------------------*/

/*------------------------------menu------------------------------*/
.wrapper__menu {
    min-width: 220px;
    width: 220px;
    height: 100%;
    position: relative;
    z-index: 1000;
    background-color: #242C39;
    color: #B6CADB;
}

.menu__slider {
    left: 198px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.menu,
.infoBlock {
    width: 100%;
    height: 100%;
}

.menu__list {

}

.menu__list__elem {
    border-bottom: 1px solid #4A4842;
    padding: 14px 10px;
    position: relative;
}

.menu__list__elem__icon {
    margin-right: 6px;
}

.menu__list__elem__action {
    float: right;
    margin-top: -3px;
}

.switch-btn {
    display: inline-block;
    width: 62px;
    height: 24px;
    border-radius: 12px;
    background: #B6CADB;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms;
}

.switch-btn::after {
    content: "";
    height: 36px;
    width: 36px;
    border-radius: 18px;
    background: #fff;
    top: -6px;
    left: -6px;
    transition-duration: 300ms;
    box-shadow: 0 0 7px 0 #999999;
    position: absolute;
    z-index: 1;
}

.switch-on {
    background: #fff;
    box-shadow: inset 0 0 10px 0 #999999; /* тень */
}

.switch-on::after {
    left: 30px;
    background: #118c4e;
}

.menu__list__elem .items {
    margin-top: 10px;
    background-color: #fff;
    padding: 2px;
    border-radius: 2px;
}

.menu__list__elem__button {
    padding: 10px 10px 0 10px;
    text-align: center;
}

.menu__list__elem__button input {
    width: 100% !important;
}
/*-----------------------------/menu------------------------------*/

/*------------------------------content------------------------------*/
.wrapper__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 20px);
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100%;
}

.items {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 8px;
}

.block {
    width: 45px;
    height: 45px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.block__image {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.block__image img {
    width: 100%;
}

.block__name {
    text-align: center;
    position: absolute;
    width: 80px;
    margin-left: -15px;
}

.description {
    display: none;
    position: absolute;
    z-index: 100;
    width: 120px;
    left: 65%;
    top: 65%;
    background: rgba(255,255,230,0.9);
    font-size: 11px;
    padding: 5px 10px;
    border: 1px solid #333;
}

.description > * {
    display: inline-block;
}
/*-----------------------------/content------------------------------*/

/*------------------------------infoBlock------------------------------*/
.wrapper__infoBlock {
    min-width: 400px;
    width: 400px;
    height: 100%;
    position: relative;
    float: right;
    z-index: 1000;
    background-color: #242C39;
    color: #B6CADB;
}

.infoBlock__slider {
    right: 378px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.infoBlock__tabs__header {
    background-color: #4A4842;
}

.infoBlock__tabs__header ul {
    width: 100%;
}

.infoBlock__tabs__header li {
    float: left;
    display: inline-block;
    padding: 10px 0;
    color: #DFDBD2;
    text-align: center;
    width: 50%;
}

.infoBlock__tabs__header li:not(.active) {
    cursor: pointer;
}

.infoBlock__tabs__header .active {
    background-color: #242C39;
    color: #B6CADB !important;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.wrapper__infoBlock__tabs__content {
    overflow-y: auto;
    height: calc(100% - 36px);
}

.infoBlock__tabs__content table {
    width: 100%;
}

.tableHeader th {
    text-align: center;
    font-weight: bold;
    padding: 15px 0;
}

.infoBlock__tabs__content hr {
    border: none;
    color: #4A4842;
    background-color: #4A4842;
    height: 1px;
}

.infoBlock__tabs__content table td {
    padding: 5px 10px;
}

.infoBlock__tabs__content table td input,
.menu__list__elem__button input,
.statusBarDescription input {
    width: 100%;
    font-size: .875rem;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    color: #444;
    line-height: 1;
    border-style: none;
    border-width: 0;
    border-radius: 2px;
    font-weight: bold;
}

.infoBlock__tabs__content table td input:disabled {
    background-color: #ccc;
}

.infoBlock__tabs__content__save {
    text-align: center;
}

.infoBlock__tabs__content__save input[type=button],
.menu__list__elem__button input,
.statusBarDescription input {
    background-color: #118c4e;
    color: white;
    width: 50%;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    transition-duration: 300ms;
}

.infoBlock__tabs__content input:active,
.infoBlock__tabs__content input:focus,
.menu__list__elem__button input:active,
.menu__list__elem__button input:focus,
.statusBarDescription input {
    outline: none;
}

.infoBlock__tabs__content input[type=text]:active,
.infoBlock__tabs__content input[type=text]:focus {
    box-shadow: 0 0 2px 2px #118c4e;
}

.infoBlock__tabs__content__save input[type=button]:hover,
.menu__list__elem__button input:hover,
.statusBarDescription input:hover {
    box-shadow: 0 0 7px 0 #999999;
}

.infoBlock__tabs__content > div {
    overflow-x: hidden;
}

/*-----------------------------/infoBlock------------------------------*/